<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nexus.app">

    <application
        android:theme="@style/AppTheme"
        android:label="NEXUS 0.0.1"
        android:allowBackup="false"
        android:supportsRtl="true">

        <activity
            android:name="com.nexus.app.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
