# Android generated/build files
android_app_v1/build/
android_app_v1/apk_build/

# Android SDK/tools
android_app_v1/sdk-tools/

# APK outputs
*.apk
*.apk.idsig

# Python cache
__pycache__/
*.pyc

# Temporary files
*.tmp
*.log

# Android local Gradle
android_app_v1/.gradle/
android_app_v1/local.properties

# Local backups
android_app_v1/app/*.backup_*

# Java compiled tests
android_app_v1/nexus_compile_test/*.class

# Compiled Java classes
android_app_v1/nexus_compile_test/**/*.class
