<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.nexus.app">
    <application android:label="NEXUS 0.0.1">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
